<div fxLayout="column">
    <div fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <p class="home-card-title" fxFlex>{{ 'TOTAL_ACCOUNT' | oTranslate }}</p>
        <p class="home-card-home-amount" fxFlex>{{ accountAmount }}</p>
    </div>
    <o-chart class="donutChart" type="donutChart" x-label="Axis x" y-label="Axis Y" [data]="graphData"
        [chart-parameters]="chartParameters"></o-chart>
    <div fxLayout="row" fxLayoutAlign="center center">
        <span>{{ 'CRITERIA_VALUE' | oTranslate }}: {{ criteriaValue }} €</span>
    </div>
</div>