<o-grid #employeesGrid attr="employeesGrid" title="EMPLOYEES" service="employees" entity="employee" keys="EMPLOYEEID"
    columns="EMPLOYEEID;EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEPHOTO;EMPLOYEEADDRESS;EMPLOYEEPHONE;EMPLOYEESTARTDATE;EMPLOYEEEMAIL;OFFICEID;NAME;EMPLOYEETYPEID;EMPLOYEETYPENAME"
    query-rows="8" page-size-options="8;10;12" orderable="true"
    sortable-columns="EMPLOYEENAME;EMPLOYEESURNAME:asc;EMPLOYEESURNAME:desc;EMPLOYEEEMAIL" insert-button="true"
    pagination-controls="true" gutter-size="8px" fixed-header="yes" grid-item-height="300px" detail-mode="none"
    insert-button-floatable="no">
    <o-grid-item *ngFor="let data of employeesGrid.dataArray">
        <div (click)="openDetail(data)" fxLayout="column" fxLayoutAlign="space-evenly center"
            class="mat-elevation-z1 employeeCard">
            <img [src]="getImageSrc(data.EMPLOYEEPHOTO)" width="144px" height="200px">
            <span><strong>{{ data.EMPLOYEENAME }} {{data.EMPLOYEESURNAME}}</strong></span>
            <span><em>{{ data.EMPLOYEETYPENAME }}</em></span>
            <span class="office">{{ data.NAME }}</span>
        </div>
    </o-grid-item>
</o-grid>