<o-form attr="branchesNew" service="branches" entity="branch" keys="OFFICEID">
    <o-column title="{{ 'BRANCH_INFORMATION' | oTranslate }}">
        <div fxLayout="row" fxLayoutGap="8px">
            <o-text-input fxFlex="15" class="input-padding" attr="OFFICEID" sql-type="STRING" enabled="yes"
                required="yes"></o-text-input>
            <o-text-input fxFlex="85" attr="NAME" required="yes"></o-text-input>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
            <o-text-input fxFlex="15" attr="PHONE" class="input-padding" step="0" grouping="no"></o-text-input>
            <o-date-input fxFlex="15" attr="STARTDATE" class="input-padding"></o-date-input>
            <o-text-input fxFlex="70" attr="ADDRESS"></o-text-input>
        </div>
    </o-column>
</o-form>